# Generate it https://app.transifex.com/user/settings/api/ and set your token here in .env file
TRANSIFEX_API_TOKEN=your_token_here
TRANSIFEX_API_SECRET=your_secret_here
TRANSIFEX_ORGANIZATION=your_organization_here
TRANSIFEX_PROJECT=your_project_here