@import '@fontsource/inter';
@import '@fontsource/outfit';
@import '@fontsource/crimson-pro';
@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    lofi;
}

:root {
  /* --fontsize: 1.281rem; */
  --default-font-family: 'Outfit', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --golden-ratio: 1.618;
  --screen-height: 100vh;
  --golden-height: calc(var(--screen-height) - 42px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.2;
  font-weight: 500;
}

p {
  font-family: 'Crimson Pro', serif;
  font-weight: 300;
  font-size: 1.36rem;
  line-height: 1.6;
}

.menu {
  font-size: 0.925rem;
}

.golden-height {
  height: var(--golden-height);
  overflow: hidden;
}

.logo {
  width: auto;
  max-height: 38px;
}
.c-dark-black {
  color: #0e0e0e;
}

.c-light-gray {
  color: #e6eaef;
}

.c-golden-yellow {
  color: #f3b852;
}

.bg-bright-blue {
  background-color: #e7ecf3;
}

.c-bright-blue {
  color: #567cfd;
}
.c-bright-blue-border-bottom,
.c-purple-violet-border-bottom,
.c-true-orange-border-bottom {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-shadow:
    #e7ecf3 4px 2px,
    #e7ecf3 -4px 2px;
}
.c-bright-blue-border-bottom::after,
.c-purple-violet-border-bottom::after,
.c-true-orange-border-bottom::after {
  content: '';
  position: absolute;
  bottom: 2px;
  /* border-radius: 1px; */
  left: 0;
  z-index: -1;
  height: 4px;
  width: 100%;
  background-color: #567cfd;
}
.c-purple-violet-border-bottom::after {
  background-color: #8b5cf6;
}

.c-true-orange-border-bottom::after {
  background-color: #f59e0b;
}

.c-red-orange {
  color: #db3c23;
}

.c-medium-gray {
  color: #a3a5a8;
}

.c-vibrant-green {
  color: #3eb549;
}

.c-purple-violet {
  color: #8b5cf6;
}

.c-magenta-pink {
  color: #ec4899;
}

.c-deep-indigo {
  color: #4c1d95;
}

.c-teal-cyan {
  color: #10b981;
}
.bg-true-orange {
  background-color: #f59e0b;
}
.c-true-orange {
  color: #f59e0b;
}

.hero-background {
  background-image: url('/src/assets/images/bazmeky.svg');
  background-repeat: no-repeat;
  background-size: 1480px auto;
  background-position: bottom center;
  background-color: #e7ecf3;
}
